#app-loader{background:rgba(0,0,0,0.8);width:100%;height:100%;position:fixed;z-index:9999;}
#app-loader-text{width:200px;text-align:center;top:50%;height:30px;background:rgba(255,255,255,0.8);margin:40px auto;color:#333;line-height:30px;border-radius:10px;}

#body h1 em{font-size:26px;color:#AAA;}

.table#dom-score input{width:35px;}
.table#dom-score th{text-align:center;}

.table#pretender{margin-bottom:0;}
.table#pretender input{width:29px;}
.table#pretender th{text-align:center;}

#pretender-timer{margin-bottom:30px;}

footer .container{font-size:11px;text-align:center;line-height:12px;}
footer p{margin:0;color:#AAA;}